<div class="main">
  <div class="card">
    <div>
      <h1 class="credit">R$ {{data.balance}}</h1>
    </div>
    <div>
      <button class="btn"><a routerLink="/client">Voltar</a></button>
    </div>
  </div>
  <h1>Detalhes da conta</h1>
  <div class="data">
    <ul>
      <li>
        O número da conta é: <span>{{ data.accountNumber }}</span>
      </li>
      <li>
        O tipo de conta é: <span>{{ data.accountType }}</span>
      </li>
      <li>
        O proprietário da conta é: <span>{{ data.owner.name }}</span>
      </li>
    </ul>
  </div>
</div>
